
<%- include('../partials/head') %>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigations') %>
      <%- body %>
    </div>
      <%- include('../partials/footer') %>
